.controls {
  padding-top: 3vh;

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__reset {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2vh;
  }

  &__arrows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 25vh;
  }

  &__arrows-line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &_wide {
      justify-content: space-between;
    }
  }
} 
