.button-block {
  text-align: center;

  &__label {
    color: #fff;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: monospace;
    font-size: 1.4vh;
    padding-bottom: 0.4vh;
  }
}
