.snake {
    --height: 60vh;
    border: 0.5vh solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(var(--height) * 0.5);
    height: var(--height);
} 
