.snake-cell {
    opacity: .2;
    background-image: url('../img/cell.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 10%;
    height: 5%;
    padding: 1vh;
    display: flex;

    &_active {
        opacity: .9;
    }
}
